td {
    padding: 0;
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 75px;
    background-color: #7373D9;
    color: #fff;
}

td:hover {
    background-color: #dbd1d1;
    opacity: .2;
    cursor: pointer;
}