.main {
    background-color: #1B1BB3;
}

table {
    margin: 0 auto;
    padding: 10px 0;
}

.game-info {
    padding-top: 10px;
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.info {
    margin: 0;
}