.header {
    position: relative;
    width: 100%;
    background-color: #090974;
}

.title {
    margin: 0;
    padding: 10px 0;
    color: #fff;
    text-align: center;
}

.sound-switcher {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 10px;
    background-color: #7373D9;
    color: #fff;
    font-size: 17px;
    cursor: pointer;
    outline: none;
}

.game-modes__title,
.elements-types__title {
    margin: 0;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color: #fff;
}

.game-modes__list, 
.elements-types__list {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 10px 0px;
}

.game-modes__button,
.element-types {
    flex: 0 1 50%;
    border: 1px solid #1B1BB3;
    list-style: none;
    color: #fff;
    background-color: #7373D9;
    text-align: center;
}

.element-types {
    font-size: 20px;
}

.game-modes__button:hover,
.element-types:hover {
    background-color: #313186;
    opacity: .5;
    cursor: pointer;
}

.game-modes__button.active,
.element-types.active {
    background-color: #313186;
}

.game-modes__button.active:hover,
.element-types.active:hover {
    background-color: #313186;
    opacity: 1;
    cursor: default;
}

.new-game {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    margin: 10px 0px;
    border-radius: 50%;
    width: 20%;
    height: 50px;
    font-size: 17px;
    cursor: pointer;
    outline: none;
}
